.countdown_{
    background-color: #e74c3c;
    padding: 10px;
    .countdown__ {
        display: flex;
        .date-item {
            margin: 5px;
            width: 25%;
            background-color: #fff;
            text-align: center;
            .value {
                font-size: 36px;
                font-weight: 700;
            }
            .name {
                padding: 10px 0;
            }
        }
    }
}